@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>

@Html.ValidationSummary()

<p>
    You have chosen to reset the password for @ViewBag.UserName. 
    If you continue by clicking &apos;Reset Password&apos; below the user will be sent an email containing the new password.
</p>
@using(Html.BeginForm()) {
    <input type="text" value="@ViewBag.UserName" name="UserName" id="UserName" />
    <input type="submit" value="Reset Password" />
}
