@{
    ViewBag.Title = "Reset Password Email Sent";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password Email Sent</h2>

<p>
    @Html.ActionLink("Back To User List", "Index")
</p>

<p>
    You have successfully reset @ViewBag.UserName&apos;s password.
</p>